/* =============================== */
/* career                          */
/* =============================== */

/* career :: structure */
#career {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    color: rgb( var(--clr-light) );
    background-color: rgb( var(--clr-dark) );
}

#career .container {
    display: flex;
    flex-direction: column;
}

/* ====================== */
/* info boxes             */
/* ====================== */

.info-box-container {
    display: flex;
    
    
    
align-items: stretch;justify-content: space-between;gap: 1rem;}

.info-box {
    display: flex;
    align-items:center;
    position: relative;
    flex-basis: 100%;
    
    padding: 1rem;

    margin-bottom: 1.5rem;
    transition: .2s;
    border: 1px solid rgb( var(--clr-light), .1 );
    
    justify-content: space-between;
}

.info-box:hover {
    background: rgb( var(--clr-black) );
    border: 1px solid rgb( var(--clr-primary) );

    --shadow-x: 0;
    --shadow-y: 10px;
    --shadow-blur: 10px;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) rgb( var(--clr-black), .5 );

    transform: translateY(-10px)
}

.img-info {
    display: flex;
    align-items: center;
}

.img-info > img {
    width: 5rem; height: 5rem;
    margin-right: 1rem;
}

.info-box-description {
    text-transform: uppercase;
    line-height: .9rem;
    letter-spacing: 1px;
    font-weight: 300;
    transition: .3s;
}

.info-box > ion-icon {
    opacity: .1;
    font-size: 2rem;
}

.info-box-more {
    text-align: center;
    letter-spacing: 1px;

    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .2s;

    width: 60%;
    padding: 1rem; 

    opacity: 0;

    color: rgb( var(--clr-light) );
    --bg-opacity: .6;
    background: rgb( var(--clr-black), var(--bg-opacity, .6) );
    backdrop-filter: blur(5px);
    outline: .05rem solid rgb( var(--clr-light), .3 );

    --shadow-x: 0;
    --shadow-y: 6px;
    --shadow-blur: 10px;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) rgb( var(--clr-black) );
}

.info-box:hover > .info-box-more {
    visibility: visible;
    position: absolute;
    opacity: 1;
    transform: translate(-1rem, -1rem);
    color: rgb( var(--clr-light) );
}

.info-box-more a {
    color:rgb( var(--clr-primary) );
}

.info-box-more a:hover {
    opacity: 1;
}

.btn-light { 
    padding: 1rem 2rem;
    margin: 0rem 0px;
    display: block;
    text-transform: uppercase;
    transition: .2s;

    --btn-clr: rgb( var(--clr-primary) );
    color: rgb( var(--clr-light) );
    outline: .01rem solid var(--btn-clr);
}

.btn-primary {
    padding: 1rem 2rem;
    margin: 0rem 0px;
    display: block;
    position: relative;
    transition: .2s;
    z-index: 0;

    --btn-clr: rgb( var(--clr-primary) );
    text-transform: uppercase;
    color: var(--btn-clr);
}

a.btn-primary:hover {
    color: rgb( var(--clr-dark) );
}

.btn-light, .btn-primary::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    z-index: -2;
    
    opacity: 1;

    color: rgb( var(--clr-dark) );
    box-shadow: inset 0 0 0 1px var(--btn-clr);
}

.btn-light, .btn-primary:hover::before {
    box-shadow: inset 0 0 0 3rem rgb( var(--clr-primary) );
}

a.btn-off {
    padding: 1rem 1rem;
    margin: 0rem 0px;
    display: block;
    position: relative;
    transition: .2s;
    z-index: 0;
    opacity: .35;

    --btn-clr: rgb( var(--clr-light) );
    text-transform: uppercase;
    color: var(--btn-clr);

    box-shadow: inset 0 0 0 1px var(--btn-clr);
}

a.btn-off:hover {
    opacity: .35;
    color: inherit;
}

@media (min-width: 860px) {
    .info-box:hover > .info-box-more:hover {
    outline: 1px solid rgb( var(--clr-primary) );
    }
}

@media (max-width: 860px) {
    
    .info-box-container {
        flex-direction: column;
    }

    .info-box {
        width: 95%;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .img-info {
        display: flex;
    }

    .info-box-description > p:not(first-child) {
        margin: .6rem 0;
    }

    .info-box-more {
        width: auto;
        margin: 0 0 .5 rem;
        padding: 0;
        text-align: start;
        display: flex;
        flex-direction: column;

        position: relative;
        visibility: visible;
        opacity: 1;
        top: .3rem;
        
        background: transparent;
        outline: none;
        box-shadow: none;
        backdrop-filter: none;
    }

    .info-box:hover .info-box-more {
        visibility: visible;
        position: relative;
        opacity: 1;
        transform: translate(0);

    }

    .info-box > ion-icon {
        display: none;
    }

    a.btn-light, a.btn-primary, a.btn-off {
        text-align: center;
        letter-spacing: 3px;
    }
}

@media (min-width: 1280px) {
    #career .job {
        height: 5rem;
        padding: 2rem;
    }
}
