#contact {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2rem;

    background: rgb( var(--clr-black) );

    font-weight: 300;
}


.mail, .phone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
        
    font-size: clamp(1rem, 2vw, 1.5rem);
    letter-spacing: 3px;

    --opacity: .5;
    color: rgb( var(--clr-light), var(--opacity, .5) );
    outline: 1px solid rgb( var(--clr-light), 0);
}

.mail:hover, .phone:hover {
    color: rgb( var(--clr-primary) );
    outline: 1px solid rgb( var(--clr-primary) );
}

.mail {
    --opacity: .6;
    margin-bottom: 1rem;
}

#contact .main-logo {
    margin: 0;
}

#contact .social {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    transition: .2s;

    --opacity: .5;
    color: rgb( var(--clr-light), var(--opacity, .5) );
    outline: 1px solid rgb( var(--clr-light), 0);
}

#contact .social:hover {
    color: rgb( var(--clr-primary) );
    outline: 1px solid rgb( var(--clr-primary) );
}


@media (max-width: 860px) {
    #contact {
        height: min-content;
        padding: 5rem;
        flex-direction: column;
        gap: 3rem;
    }
}