
:root {
    --clr-black: 0, 0, 0;
    --clr-white: 255, 255, 255;
    --clr-dark: 17, 17, 17;
    --clr-light: 250, 250, 250;
    --clr-primary: 0, 95, 115;
}

/* body */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
    background-color: rgb( var(--clr-dark), .5 );
}

/* anchor */
a {
    text-decoration: none;
    color: rgb( var(--clr-light) );
}