/* =============================== */
/* navbar                          */
/* =============================== */

/* navbar :: structure */
nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;

    --bg-opacity: .5;
    background: rgb( var(--clr-dark) , var(--bg-opacity, .5) );
    color: rgb( var(--clr-light) );
    backdrop-filter: blur(.5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* navbar :: logo */
nav .main-logo {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -5px;
    margin-left: 1.5rem;
    position: relative;
    transition: .1s;
}

nav .main-logo::before {
    content: '';
    position: absolute;
    height: .1rem; width: 0rem;
    left: -.5rem; top: 1.8rem;
    background-color: rgb( var(--clr-light) );
    transition: .1s;
}

nav .main-logo:hover::before {
    width: 4.9rem;
}

/* navbar :: items */
nav ul {
    margin-right: 1rem;
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    z-index: 5;
}

nav ul li {
    padding: 1rem .5rem;
    margin: 0 .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    opacity: .5;
    transition: .5s;
    z-index: 5;
}

nav ul li:hover {
    opacity: 1;
}

nav ul li::after {
    content: '';
    position: absolute;
    z-index: 3;
    height: 100%; width: 0%;
    left: 0; top: 0;
    border-bottom: .1rem solid rgb( var(--clr-light) );
    transition: .2s;
}

nav ul li:hover::after {
    height: 100%; width: 100%;
}

/* navbar :: resume */
nav ul li.resume {
    opacity: 1;
    font-weight: 700;
    border-bottom: .1rem solid rgb( var(--clr-light), .3 );
    transition: .2s;
}

nav ul li.resume:hover {
    opacity: 1;
    font-weight: 700;
}

/* navbar :: burger menu */
.burger-icon {
    width: 1.6rem; height: 1.8rem;
    padding: 1rem;
    margin-right: 1rem;
    display: none;
    z-index: 5;
    cursor: pointer;

    text-align: center;
    font-size: 2rem;
    
    outline: .01rem solid rgb( var(--clr-light), .5 );
    --bg-opacity: .5;
    background: rgb( var(--clr-dark) , var(--bg-opacity, .5) );
    backdrop-filter: blur(.5rem);

    transform: rotate(0);
    transition: .2s;
}

@media (max-width: 800px) {

    /* structure */
    nav {
        --bg-opacity: 0;
        backdrop-filter: blur(0);
    }

    #nav-links {
        height: 100vh;
        position: fixed;
        top: -1.5rem; right: -1rem;

        display: flex;
        flex-direction: column;

        overflow: hidden;
        transform: translateX(25rem);
        transition: .5s;
        
    }

    /* nav links */
    nav ul {
        background-color: rgb( var(--clr-dark), .9 );
        backdrop-filter: blur(.5rem);
        padding-top: 4rem;
        font-size: 1.5rem;
        transform: rotate(90deg);
    }

    nav ul li {
        opacity: .5;
    }
    
    nav ul li:not(first-child) {
        margin-top: 2rem;
        margin-right: 10rem;
    }
    
    /* burguer icon */
    .burger-icon {
        display:flex;
    }

    /* main logo */
    nav .main-logo {
        width: 2rem; height: 1.8rem;
        padding: 1rem;

        font-size: 2rem;
        letter-spacing: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        outline: .01rem solid rgb(var(--clr-light), .5);
        --bg-opacity: .5;
        background: rgb(var(--clr-dark), var(--bg-opacity, .5));
        backdrop-filter: blur(.5rem);
    }

    nav .main-log a {
        margin-left: -5px;
    }

    nav .main-logo::before {
        content: '';
        position: absolute;
        height: .1rem; width: 0rem;
        left: .5rem; top: 1.8rem;
        background-color: rgb( var(--clr-light) );
        transition: .1s;
    }

    nav .main-logo:hover::before {
        width: 3rem;
    }

}