/* =============================== */
/* profile                         */
/* =============================== */

/* profile :: structure */
#profile {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;    
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb( var(--clr-dark) );
    color: rgb( var(--clr-light) );
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* profile :: info */
.profile .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .info {
    display: flex;

    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: .5rem;
}

.profile .info .title {
    padding-right: 1rem;
    text-align: end;
    opacity: .3;
}

/* profile :: quote */
.profile .quote {
    width: 100%;

    text-align: center;
    font-style: italic;
    font-size: clamp(1rem, 2.3vw, 2.5rem);
    font-weight: 300;
    letter-spacing: 2px;

    color: rgb( var(--clr-light), .5 );
    /* background: rgb( var(--clr-black) ); */

    --border-weight: 1px;
    --border-color: rgb( var(--clr-light), .3 );
    /* border-top: var(--border-weight) solid var(--border-color);
    border-bottom: 1px solid var(--border-color); */

    padding: .7rem;
}

/* profile :: skills */
.profile .skill-big-container {
    width: 100%;
    display: flex;
}

.profile .skill-container {
    position: relative;
    transition: .2s;
    padding: 1.5rem;
    margin-top: 1rem;
}

.skill-container:hover {
    background-color: rgb( var(--clr-black), .5 );
}

.skill-container:hover .skill-icon {
    color: rgb( var(--clr-primary) );
}

.profile .skills {
    width: 80%;
    margin: 1rem auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-width: 35rem;
}

.skill-icon {
    margin: 0rem auto 0 auto;
    z-index: 0;

    font-size: clamp(1.5rem, 3vw, 2rem);
    
    color: rgb( var(--clr-primary), .5 );

    display: flex;
    align-self: center;
    transition: .5s;
}

.profile .skill {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    z-index: 1;

    padding: .5rem 1rem;
    margin: .3rem .3rem;
    text-transform: uppercase;
    transition: .2s;
    outline: 1px solid rgb( var(--clr-light), .1 );
    background-color: rgb( var(--clr-black), .2 );

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.profile .skill:hover {
    color:rgb( var(--clr-primary) );
    background: rgb( var(--clr-black) );
    --outline-weight: 0.01rem;
    --outline-color: rgb( var(--clr-primary) );
    outline: var(--outline-weight) solid var(--outline-color);

    --shadow-x: 0;
    --shadow-y: 6px;
    --shadow-blur: 10px;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) rgb( var(--clr-black) );

    
    transform: translateY(-6px);
}

/* profile :: image */
.profile .image {
    background-image: url("../images/profile.png");
    background-color: transparent;
    background-size:cover;
    background-position: center;

    width: clamp(15rem, 36vw, 30rem);
    height: clamp(15rem, 63vw, 40rem);
    margin-left: 1rem;

    filter: grayscale(1);
    transition: .4s;
}

.profile .image:hover {
    filter: grayscale(0);
}

@media (max-width: 800px) {
    #profile {
        padding: 3rem 2rem;
    }

    .profile {
        flex-direction: column-reverse;
        height: 100%;
    }

    .profile .info {
        margin: 1rem 0;
    }

    .profile .quote {
        margin: 1rem 0 2rem 0;
    }

    .profile .skill-big-container {
        flex-direction: column;
    }

    .profile .skill-container:first-child {
        padding-bottom: 2rem;
        border-right: none;
    }

    .profile .image {
        height: 25rem;
        margin: 0;
    }
}

@media (max-width: 460px) {
    .profile { 
        height: 100%;
    }

    .profile .info {
        font-size: clamp(1rem, 4vw, 2rem);
    }

    .profile .image {
        height: 22rem;
        
    margin-left: 0;}
}
