#projects {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 10rem 2rem 10rem 2rem;

    color: rgb( var(--clr-light) );
    background-color: rgb( var(--clr-dark) );
}

.project {
    display: flex;
    gap: 1rem;
    flex-basis: 40vw;
    position: relative;
    transition: .2s;
    margin-bottom: 4rem;

    background: rgb( var(--clr-dark) );
    outline: 1px solid rgb( var(--clr-light), .1 );
}

.project img {
    width: 100%;
}

.cover-info {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;

    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 1;
    transition: .5s;

    background: rgb( var(--clr-black), .6 );
    backdrop-filter: blur(8px);
}

.cover-info .main-icon {
    font-size: clamp(3rem, 12vw, 10rem);
    transition: .3s;
}

.cover-info h4 {
    margin: 0;
    padding: 0 0 1rem;

    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
}

.cover-info p,
.cover-info .btn-primary {
    margin: 1rem 0;
    display: none;
    opacity: 0;
    text-align: center;
    transition: .3s;
}

.cover-info p {
    /* padding: 1rem; */
}


/* hover effect */
.project:hover .cover-info {
    z-index: 2;
    top: 10rem;
    width: 80%; 
    height: min-content;
    padding: 2rem 3rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    outline: 1px solid rgb( var(--clr-black) );

    --shadow-x: 0;
    --shadow-y: 10px;
    --shadow-blur: 10px;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) rgb( var(--clr-black), .5 );
}

.project .cover-info:hover {
    outline: 1px solid rgb( var(--clr-primary) );
}

.project .cover-info:hover .main-icon {
    color: rgb( var(--clr-primary) );
}

.project .cover-info:hover h4 {
    color: rgb( var(--clr-primary) );
}

.project:hover .main-icon {
    font-size: clamp(2rem, 10vw, 4rem);
}

.project:hover .cover-info p,
.project:hover .cover-info .btn-primary {
    display: flex;
    opacity: 1;
}

.cover-info .btn-primary {
    padding-right: 3rem;
    transition: .3s;
}

.project .btn-primary ion-icon {
    position: absolute;
    right: 0;
    top: 0; bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: .5rem;
    font-size: 2rem;
}

.project:hover {
    outline: 1px solid rgb( var(--clr-primary) );
}

@media (max-width: 860px) {

    .projects {
        display: flex;
        flex-direction: column;
    }

    .project img {
        margin: 0;
    }

    .cover-info .main-icon {
        font-size: 4rem;
    }

    .project {
        flex-direction: column;
    gap: 0;}

    .project .cover-info {
        position: relative;
       
        height: min-content;
        padding: 2rem 3rem;
    
        outline: none;
    }

    .project:hover .cover-info {
        top: 0;
        width: 100%;
        z-index: 0;
        
        outline: none;
        backdrop-filter: blur(0);
    }

    .project .cover-info p {
        display: block;
        opacity: 1;
    }

    .project .cover-info .btn-primary {
        display: block;
        opacity: 1;
        width: 90%;
    justify-content: space-around;}

    .project .cover-info:hover {
        outline: none;
    }
    
    .cover-info .btn-primary {
    }
    
    .project .btn-primary ion-icon {
        position: absolute;
        right: 0;
        top: 0; bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding: .5rem;
        font-size: 2rem;
    }
    
    .project:hover {
        outline: 1px solid rgb( var(--clr-primary) );
    }
}